body {
  font-family: "Arial","Meiryo",sans-serif;
}

root {
  font-size: 20px;
}

.blue {
  color: #a0d8ef;
}

.pink {
  color: rgb(255, 192, 203);
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2rem;
  text-shadow: 5px 4px 2px rgb(222, 46, 46);
  border-bottom: 3px solid rgb(115, 115, 114);
}

h1,h2,p {
  text-align: center;
}

div p {
  font-weight: bold;
}